/* * {
    border: solid black;
} */

body {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: auto;
}

header > h1 {
    margin-bottom: 0;
}

#address{
    background-color: #ebebeb81;
    background-clip: padding-box;
    padding: 1% 5%;
    text-align: center;
    /* color: white; */
    border-radius: 25px;
    font-weight: bolder;
}